body {
  margin: 0;
  font-family: 'NanumSquareNeoLight';
  font-family: 'NanumSquareNeo';
  font-family: 'NanumSquareNeoBold';
  font-family: 'NanumSquareNeoExtraBold';
  font-family: 'NanumSquareNeoHeavy';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
